<app-header [BackUrl]="'/'"></app-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card class="ads--card">
        <dfp-ad adUnit="/21765378867/ShorouknewsApp_LeaderBoard2" responsive>
            <dfp-size [width]="320" [height]="50"></dfp-size>
            <dfp-responsive [viewport]="[768,0]" [adSizes]="[[728,90]]"></dfp-responsive>
        </dfp-ad>
    </ion-card>

    <!-- Breadcrumb -->
    <ul class="breadcrumb" padding>
        <li>
            <a routerLink="/home">الرئيسية</a>
            <span class="arrow-back">&#62;</span>
        </li>


        <li class="active">ضبط الإعدادات</li>
    </ul>
    <!-- end Breadcrumb -->

    <div class="settings-container">
        <h1 padding>استقبال الإشعارات للمقالات والأخبار العاجلة</h1>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button color="primary" fill="outline" expand="block" (click)="activateAll()">
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                        تفعيل الكل
                    </ion-button>
                </ion-col>

                <ion-col size="6">
                    <ion-button color="primary" fill="outline" expand="block" (click)="deActivateAll()">
                        <ion-icon name="close-circle-outline"></ion-icon>
                        إلغاء تفعيل الكل
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid no-padding>
            <ion-row>
                <ion-col size="6" *ngFor="let section of sections">
                    <ion-list no-padding>
                        <ion-item>
                            <!--  (ionChange)="addOrRemoveTag(section.Ar_Name, section.ID)" -->
                            <ion-toggle [ngModel]="isToggleChecked(section)" (ionChange)="change($event,section)">
                                {{section.Ar_Name}}</ion-toggle>
                            <ion-label>{{section.Ar_Name}}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button color="primary" expand="block" (click)="saveSettings()">
                        <ion-icon name="save"></ion-icon>
                        حفظ الإعدادات
                    </ion-button>
                </ion-col>

                <ion-col size="6">
                    <ion-button color="tertiary" expand="block" href="/home">
                        <ion-icon name="home"></ion-icon>
                        القائمة الرئيسية
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>