/* Breadcrumb */
.breadcrumb {
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    border-bottom: 4px solid var(--ion-color-tertiary);
    color: #000;
    overflow: hidden;

    li {
        display: inline-block;
        color: #000;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    .arrow-back {
        padding: 0 10px;
        color: #222;
        font-weight: bolder;
    }

    @media (max-width: 600px) {
        & {
            margin-left: -30%;
        }
    }

    .view-container {
        overflow: hidden;
    }

    .share {
        float: left
    }
}
/* Breadcrumb */
 
.subheader {
    padding: 1px 15px;
    color: #fff;
    margin-top: -10px;
    background-color: var(--ion-color-tertiary);
 
    .title {
        background-color: var(--ion-color-primary);
        padding: 2px 20px;

        ion-icon {
            color: #fff;
            width: 30px;
            height: 30px;
            vertical-align: sub;
        }

        h4 {
            color: #fff;
            display: inline-block;
            margin-right: 10px;
        }
    }
 
}

.Important-articles-section {
    .subheader {  
        ion-button.more {
            color: var(--ion-color-tertiary);
            --color: var(--ion-color-tertiary);
        }

        .more-btn {
            background: var(--ion-color-primary);
            height: 54px;
        }

        h4{
            display: inline-block;
            margin-right: 10px;
        }
    }

    ion-item {
        --background: var(--ion-color-primary);
    }


    ion-avatar {
        width: 20%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        height: 90px;
        width: 90px;
        margin-right: 16px;
 
        ion-img{ 
            min-height: 80px;
            background-color: rgba(222, 222, 222, 0.6);
            border: 3px solid#fff;
        } 
    }

    ion-label {
        padding-left: 16px;
        white-space: pre-wrap;
    }

    p {
        color: var(--ion-color-primary);
        background: #fff;
        height: 75px;
        padding: 8px 7px;
        border-radius: 10px 10px 10px 0;
        font-weight: 500;
    }

    .author-name,
    .article-date {
        color: #fff;
        display: inline;
    }

    .article-date {
        background: var(--ion-color-tertiary);
        padding: 6px 10px;
        margin-top: -2px;
        border-radius: 0 0 10px 10px;
        float: left;

        @media (max-width:385px) {
            .article-date {
                padding: 6px;
            }
        }
    }

    .sc-ion-label-ios-s h4,
    .sc-ion-label-ios-s h3,
    .sc-ion-label-ios-s h5,
    .sc-ion-label-ios-s h6 {
        font-size: 13.5px;
    }
 
}

@media (max-width:375px) {
    .card-info h2 {font-size: 18px;} 
    .subheader{
        .title h4 {
            margin-top: 13px;
            margin-bottom: 13px;
        }
        .more-btn ion-icon {
            width: 20px;
            height: 20px; 
        } 
    }

    section.news-section ion-list .news-info{
        p{
            font-size: 14px;
            font-weight: bold;
        }
        span{font-size: 8px;}
        ion-col.hour{padding: 5px 3px 0 !important;}
    }
    .Important-articles-section .article-date {padding: 6px 6px; font-size: 10px;}
    
    .Important-articles-section {

        .sc-ion-label-ios-s h6,
        .sc-ion-label-ios-s h4,
        .sc-ion-label-md-s h6 {
            font-size: 11px;
        }
    }
    
    ion-avatar{
        height: 80px;
        width: 80px;
        ion-img{ min-height: 70px;}
    }
}