/* Breadcrumb */
.breadcrumb {
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    border-bottom: 4px solid var(--ion-color-tertiary);
    color: #000;
    overflow: hidden;

    li {
        display: inline-block;
        color: #000;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    .arrow-back {
        padding: 0 10px;
        color: #222;
        font-weight: bolder;
    }

    @media (max-width: 600px) {
        & {
            margin-left: -30%;
        }
    }

    .view-container {
        overflow: hidden;
    }

    .share {
        float: left
    }
}
/* Breadcrumb */

.container {
    .one-contact {
        margin: 6px 0;

        a {
            color: #041632;
            text-decoration: none;
            font-weight: 500;
        }

        ion-icon {
            margin: 0 0 -4px 4px;
            color: var(--ion-color-primary);
        }
    }

    p.main {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .main-contacts {
        h1 {
            color: var(--ion-color-primary);
            margin: 0;
        }
    }

    .other-contacts {

        section {
            margin: 20px;
            padding: 0 0 16px;
        }
    }
}
