<app-header>

</app-header>

<ion-content>
    <ion-card class="ads--card">
        <dfp-ad adUnit="/21765378867/ShorouknewsApp_LeaderBoard2" responsive>
            <dfp-size [width]="320" [height]="50"></dfp-size>
            <dfp-responsive [viewport]="[768,0]" [adSizes]="[[728,90]]"></dfp-responsive>
        </dfp-ad>
    </ion-card>
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li>
            <a routerLink="/home">الرئيسية</a>
            <span class="arrow-back">&#62;</span>
        </li>
        <li class="active">اتصل بنا</li>
    </ul>
    <!-- end Breadcrumb -->
    <div class="container">

        <div class="main-contacts" padding>

            <h1>اتصل بنا</h1>
            <p class="main one-contact">
                إدارة الإعلانات بموقع أو برنامج الشروق
            </p>
            <div class="one-contact">
                <ion-icon name="phone-portrait"></ion-icon>
                <a href="tel:00201003920345">00201003920345</a>
            </div>
            <br/>

            <p class="main one-contact">
                إدارة الإعلانات بجريدة الشروق
            </p>
            <div class="one-contact">
                <ion-icon name="mail"></ion-icon>
                <a href="mailto:ads@shorouknews.com">ads@shorouknews.com</a>
            </div>
            <div class="one-contact">
                <ion-icon name="map"></ion-icon>
                <a href="#">3 شارع طلعت حرب</a>
            </div>
            <div class="one-contact">
                <ion-icon name="phone-portrait"></ion-icon>
                <a href="tel:0020223930490">0020223930490</a>
            </div>

        </div>

        <div class="other-contacts">
            <section>
                <p>
                    بوابة الشروق ترحب بأسئلتكم وتعليقاتكم ومساهماتكم الكريمة ، ونعدكم بالرد عليها والإستفادة منها في تطوير موقعنا طوال الوقت
                    اكتبوا إلينا .. فهذا يسعدنا
                </p>
                <div class="one-contact">
                    <ion-icon name="mail"></ion-icon>
                    <a href="mailto:webmaster@shorouknews.com">webmaster@shorouknews.com</a>
                </div>
            </section>

            <section>
                <p>للتواصل مع إدارة تحرير الشروق الورقية</p>
                <div class="one-contact">
                    <ion-icon name="mail"></ion-icon>
                    <a href="mailto:contactus@shorouknews.com">contactus@shorouknews.com</a>
                </div>
                <div class="one-contact">
                    <ion-icon name="mail"></ion-icon>
                    <a href="mailto:news@shorouknews.com">news@shorouknews.com</a>
                </div>
            </section>

            <section>
                <p>لإرسال محتوى رأي ومقالات للشروق الورقية </p>
                <div class="one-contact">
                    <ion-icon name="mail"></ion-icon>
                    <a href="mailto:letters@shorouknews.com">letters@shorouknews.com</a>
                </div>
            </section>

            <section>
                <p>لإرسال مقالات وشكاوى للنشر على الموقع الإلكتروني </p>
                <div class="one-contact">
                    <ion-icon name="mail"></ion-icon>
                    <a href="mailto:readers@shorouknews.com">readers@shorouknews.com</a>
                </div>
            </section>

        </div>

    </div>

</ion-content>