<app-header>
</app-header>
<ion-content>
  <ion-card class="ads--card">
    <dfp-ad adUnit="/21765378867/ShorouknewsApp_LeaderBoard2" responsive>
      <dfp-size [width]="320" [height]="50"></dfp-size>
      <dfp-responsive [viewport]="[768,0]" [adSizes]="[[728,90]]"></dfp-responsive>
    </dfp-ad>
  </ion-card>

  <!-- Breadcrumb -->
  <ul class="breadcrumb">
    <li>
      <a routerLink="/home">الرئيسية</a>
      <span class="arrow-back">&#62;</span>
    </li>
    <li class="active">سياسية الخصوصية</li>
  </ul>
  <!-- end Breadcrumb -->
  <div class="terms-area" padding>
    <div class="container">
      <h1>سياسية الخصوصية</h1>
      <p>﻿يستخدم موقع و/أو برنامج الشروق بيانات مستخدمي الموقع و/أو البرنامج مثل البريد الإليكتروني أو معرف الهاتف المحمول (الموبايل)
        أو الجهاز اللوحي (التابلت) من أجل أن تتمكن من تقديم خدماتها لكم مثل خدمة القائمة البريدية أو إرسال الإشعارات، لذلك
        فإن موقع و/أو برنامج الشروق يكون بحاجة أحيانا إلى جمع معلومات عن مستخدميه.</p>



      <p> يمكن لموقع و/أو برنامج الشروق مشاركة البيانات السابق توضيحها مع مزودي الخدمات المختلفة من أجل ضمان استمرار الخدمة.
      </p>
      <p>يحتوي موقع و/أو برنامج الشروق على روابط لمواقع أخرى، موقع و/أو برنامج الشروق غير مسؤولان عن محتوى المواقع الخارجية،
        وتقع مسؤولية استخدامها على عاتق المستخدم.
      </p>
      <p>يستخدم موقع و/أو برنامج الشروق ملفات تعريف الارتباط cookies بهدف التعرف على احتياجات المستخدمين.
      </p>
      <p>
        يحق للشروق أو الشركة المبرمجة للموقع و/أو برنامج الشروق تغيير هذه البنود في أي وقت بدون التنويه سابقا بتغييرها.

      </p>
    </div>
  </div>
</ion-content>