<app-header>
</app-header>
<ion-content>
    <ion-card class="ads--card">
        <dfp-ad adUnit="/21765378867/ShorouknewsApp_LeaderBoard2" responsive 
        >
            <dfp-size [width]="320" [height]="50"></dfp-size>
            <dfp-responsive [viewport]="[768,0]" [adSizes]="[[728,90]]"></dfp-responsive>
        </dfp-ad>
    </ion-card>

    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li>
            <a routerLink="/home">الرئيسية</a>
            <span class="arrow-back">&#62;</span>
        </li>
        <li class="active">شروط الاستخدام</li>
        <!-- <li class="share">
            <a href="#">
                مشاركة
                <ion-icon class="share-icon" color="tertiary" name="share"></ion-icon>
            </a>
        </li> -->
    </ul>
    <!-- end Breadcrumb -->
    <div class="terms-area" padding>
        <div class="container">
            <h1>شروط الاستخدام</h1>
            <p>الخدمات والمعلومات والمحتوى التي يوفرها موقع و/أو برنامج الشروق ، المنشورة عليه أو التي يمكن الوصول إليها أو
                تحميلها من خلاله هي لأغراض إعلامية عامة فقط ، وليست لأغراض إعادة البيع ، والتوزيع ، والعرض العام ، أو الأداء
                ، أو غيرها من الاستخدامات بأي شكل أو طريقة كانت.</p>
            <p> استخدمت الشروق طرقاً مشروعة ومكلفة للحصول على محتوى قيم في وقت مناسب ، بما في ذلك الصور والأخبار والمقالات وملفات
                الفيديو وغيرها ، ونحن نضمن دقة وصحة وملاءمة كل ذلك ، ويسعدنا تلقي أي تعليقات حول أي أخطاء بشرية قد تتجاوز
                الحدود القانونية والمهنية وحقوق الغير في الحصول على المحتوى أو استخدامه</p>
            <p>والشروق غير مسئولة بشكل مباشر أو غير مباشر عن أي خسارة أو ضرر من أي نوع يحدث بسبب سوء استخدام المحتوى الوارد
                بالموقع
            </p>
            <p>وتناشد الشروق قرائها الأعزاء احترام حقوق الغير في التعبير في إطار القانون واحترام الديانات والعقائد والأعراق
                والجنسيات ، وسوف يضطر فريق الموقع آسفاً إلى اتخاذ الإجراءات اللازمة لمنع أي تعليقات أو مشاركات تتعارض مع
                تلك القواعد ، بما فيها المنع النهائي من التعليق على الموقع إذا لزم الأمر</p>
        </div>
    </div>
</ion-content>