.ads--card {
  text-align: center;
}

.ads--card ion-img {
  font-size: 0;
}
img-loader {
  display: inline-block;
  width: 100%;
}

.sc-ion-card-ios-h {
  margin: 10px;
}

ion-grid.important-news {
  margin-top: -25px;
}

ion-card.main,
ion-card.others {
  position: relative;
  margin: 0;
  border-radius: 0;

  .card-overlay {
    background: linear-gradient(0deg, rgba(15, 12, 11, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .card-icon {
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 22%;
  }

  .card-info {
    position: absolute;
    bottom: 10%;
    left: 3%;
    right: 3%;
    width: 94%;
    display: inline-block;
    color: #fff;

    h2 {
      margin-top: 0;
    }

    h6 {
      font-size: 13px;
      margin-top: 0;
      font-weight: bold;
    }
  }
}

ion-card.main {
    max-height: 35vh;
  img {
    //IF You will use IMG-LOADER change img ==to> img-loader
    min-height: 230px;
    background-color: #aaa;
    max-height: inherit;
  }
}

ion-card.others {
  border: 2px solid var(--ion-color-tertiary);
  .card-info {
    bottom: 2%;
  }

  img {
    //IF You will use IMG-LOADER change img ==to> img-loader
     height: 120px;
    background-color: #ccc;
    object-fit: cover;
  }
}

.subheader {
  padding: 0;

  .item-inner {
    padding-right: 0px;
    --padding: 0;
    padding: 0;
  }

  .title {
    background-color: var(--ion-color-primary);
    padding: 2px 20px;

    ion-icon {
      color: #fff;
      width: 30px;
      height: 30px;
      vertical-align: sub;
    }

    h4 {
      color: #fff;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .more-btn {
    background: var(--ion-color-tertiary);
    // padding: 0.5px 7px;
    height: 54px;

    ion-button.more {
      --box-shadow: none;
      --margin-end: 0px;
      --padding-end: 0.4em;
      font-size: 16px;
    }

    ion-icon {
      width: 30px;
      height: 30px;
      vertical-align: sub;
    }
  }
}

section.news-section {
  ion-grid.subheader {
    padding: 0;
  }

  ion-grid.important-news {
    margin-top: -20px;
  }

  ion-item {
    margin-right: -16px;
    margin-left: -16px;
    --inner-border-width: 0 0 0 0;
    border-bottom: 2px solid #ddd;

    &:nth-child(odd) {
      --background: #eee;
    }

    .news-date {
      margin-top: 26px;
      border-top: 2px solid #ddd;
      padding: 5px 6px 0;
      padding-bottom: 0;
    }
  }

  ion-list {
    ion-thumbnail {
      width: 10rem;
      min-height: 100%;
    }

    .news-info {
      width: 60%;

      p {
        font-size: 14px;
        font-weight: bold;
        color: var(--ion-color-primary);
        margin: 20px 5px -10px 23px;
        min-height: 36px;
      }

      span {
        font-size: 13px;
        vertical-align: text-top;
        display: inline-block;
        margin-right: 3px;
      }

      ion-col.day.hydrated {
        padding: 3px;
        border: 2px solid#ddd;
        border-right: none;
      }

      ion-col.hour.hydrated {
        padding: 3px;
        border-bottom: 2px solid#ddd;
        border-top: 2px solid#ddd;
      }
    }
  }
}

.Important-articles-section {
  .subheader {
    padding: 0;

    ion-button.more {
      color: var(--ion-color-tertiary);
      --color: var(--ion-color-tertiary);
    }

    .more-btn {
      background: var(--ion-color-primary);
      height: 54px;
    }
  }

  ion-item {
    --background: var(--ion-color-primary);
  }

  ion-avatar {
    width: 20%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    height: 90px;
    width: 90px;
    margin-right: 16px;

    ion-img {
      min-height: 80px;
      background-color: rgba(222, 222, 222, 0.6);
      border: 3px solid#fff;
    }
  }

  ion-label {
    padding-left: 16px;
    white-space: pre-wrap;
  }

  p {
    color: var(--ion-color-primary);
    background: #fff;
    height: 75px;
    padding: 8px 7px;
    border-radius: 10px 10px 10px 0;
    font-weight: 500;
  }

  .author-name,
  .article-date {
    color: #fff;
    display: inline;
  }

  .article-date {
    background: var(--ion-color-tertiary);
    padding: 6px 10px;
    margin-top: -2px;
    border-radius: 0 0 10px 10px;
    float: left;

    @media (max-width: 385px) {
      .article-date {
        padding: 6px;
      }
    }
  }

  .sc-ion-label-ios-s h4,
  .sc-ion-label-ios-s h3,
  .sc-ion-label-ios-s h5,
  .sc-ion-label-ios-s h6 {
    font-size: 13.5px;
  }
}

@media (max-width: 375px) {
  .card-info h2 {
    font-size: 18px;
  }
  // .card-info h6 {
  // font-size: 10px;
  // margin-top: 0px;
  // }
  .subheader {
    .title h4 {
      margin-top: 13px;
      margin-bottom: 13px;
    }
    .more-btn ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  section.news-section ion-list .news-info {
    p {
      font-size: 12px;
    }
    span {
      font-size: 8px;
    }
    ion-col.hour {
      padding: 5px 3px 0 !important;
    }
  }
  .Important-articles-section .article-date {
    padding: 6px 6px;
    font-size: 10px;
  }

  .Important-articles-section {
    .sc-ion-label-ios-s h6,
    .sc-ion-label-ios-s h4,
    .sc-ion-label-md-s h6 {
      font-size: 11px;
    }
  }
  ion-card.main img {
    //IF You will use IMG-LOADER change img ==to> img-loader
    min-height: 190px;
    background-color: #aaa;
  }

  ion-card.others img {
    min-height: 100px;
  }

  ion-avatar {
    height: 80px;
    width: 80px;
    ion-img {
      min-height: 70px;
    }
  }
}
