// ion-icon {
//     margin: 0 0 -3px 0;
// }

/* Breadcrumb */
.breadcrumb {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  border-bottom: 4px solid var(--ion-color-tertiary);
  color: #000;
  overflow: hidden;

  li {
    display: inline-block;
    color: #000;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  .arrow-back {
    padding: 0 10px;
    color: #222;
    font-weight: bolder;
  }

  @media (max-width: 600px) {
    & {
      margin-left: -30%;
    }
  }

  .view-container {
    overflow: hidden;
  }

  .share {
    float: left;

    ion-icon.share-icon {
      vertical-align: middle;
    }
  }
}
/* Breadcrumb */

ion-card.main {
  position: relative;
  margin: 0;
  margin-top: -10px;
  border-radius: 0;
  max-height: 35vh;

  img {
    max-height: inherit;
  }

  .card-overlay {
    background: linear-gradient(0deg, rgba(15, 12, 11, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 15%;
    bottom: -1px;
    right: 0;
    left: 0;
  }

  .card-icon {
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 22%;
  }

  .card-info {
    position: absolute;
    bottom: 3%;
    left: 3%;
    right: 3%;
    width: 94%;
    display: inline-block;
    color: #fff;

    h2 {
      font-size: 20px;
    }
    h6 {
      font-size: 12px;
      margin-top: 12px;
    }
  }
}

.subheader {
  color: #fff;
  background: var(--ion-color-tertiary);
  padding: 12px 5px;

  .subheader-title {
    padding: 0 16px;
  }

  .item-inner {
    padding-right: 0px;
    --padding: 0;
    padding: 0;
  }

  .title {
    background-color: var(--ion-color-primary);
    padding: 2px 20px;

    ion-icon {
      color: #fff;
      width: 30px;
      height: 30px;
      vertical-align: sub;
    }

    h4 {
      color: #fff;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .more-btn {
    background: var(--ion-color-tertiary);
    // padding: 0.5px 7px;
    height: 54px;

    ion-button.more {
      --box-shadow: none;
      --margin-end: 0px;
      --padding-end: 0.4em;
      font-size: 16px;
    }

    ion-icon {
      width: 30px;
      height: 30px;
      vertical-align: sub;
    }
  }
}

.full-news {
  padding: 10px 15px 0;

  b {
    display: block;
  }
}

.share-area {
  text-align: center;
  padding: 0px 15px 10px;
  ion-icon.share-icon {
    margin-left: 5px;
  }
}

section.attached-pictures {
  ion-grid.subheader {
    background: none;
    padding: 0;
    border-top: 1px solid#ccc;

    .title {
      background-color: #fff;
      padding: 0px 20px;

      ion-icon {
        color: var(--ion-color-tertiary);
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-top: -6px;
      }

      h4 {
        color: var(--ion-color-primary);
        display: inline-block;
        margin-right: 10px;
        margin-top: 15px;
      }
    }

    .more-btn {
      background: #fff;
      text-align: left;
      // padding: 0.5px 7px;
      ion-button.more {
        color: var(--ion-color-primary);
        font-weight: bold;
        --background: #fff;
      }

      ion-icon {
        width: 26px;
        height: 26px;
        vertical-align: sub;
      }
    }
  }
}

section.news-section {
  ion-grid.subheader {
    background: none;
    padding: 0;
  }

  ion-grid.important-news {
    margin-top: -20px;
  }

  ion-item {
    margin-right: -16px;
    margin-left: -16px;
    --inner-border-width: 0 0 0 0;
    border-bottom: 2px solid #ddd;

    &:nth-child(odd) {
      --background: #eee;
    }

    .news-date {
      margin-top: 26px;
      border-top: 2px solid #ddd;
      padding: 5px 6px 0;
      padding-bottom: 0;
    }
  }

  ion-list {
    ion-thumbnail {
      width: 10rem;
      min-height: 100%;
    }

    .news-info {
      width: 60%;

      p {
        font-size: 13px;
        color: var(--ion-color-primary);
        margin: 20px 5px -10px 23px;
        min-height: 36px;
      }

      span {
        font-size: 13px;
        vertical-align: text-top;
        display: inline-block;
        margin-right: 3px;
      }

      ion-col.day.hydrated {
        padding: 3px;
        border: 2px solid#ddd;
        border-right: none;
      }

      ion-col.hour.hydrated {
        padding: 3px;
        border-bottom: 2px solid#ddd;
        border-top: 2px solid#ddd;
      }
    }
  }
}

section.important-news {
  ion-grid.subheader {
    background: none;
    padding: 0;
  }

  ion-card.main {
    margin: -3px -3px 0 0;
    border-radius: 4px;

    .card-overlay {
      background: linear-gradient(0deg, rgba(15, 12, 11, 1), rgba(0, 0, 0, 0));
      position: absolute;
      top: 15%;
      bottom: -1px;
      right: 0;
      left: 0;
    }
  }
}

@media (max-width: 375px) {
  .breadcrumb li {
    font-size: 13px;
    &.share {
      margin-top: 2px;
    }
  }
  .card-info h2 {
    font-size: 18px;
  }
  ion-card.main .card-info h6 {
    font-size: 10px;
    margin-top: 0px;
  }
  .subheader {
    .title h4 {
      margin-top: 13px;
      margin-bottom: 13px;
    }
    .more-btn ion-icon {
      width: 20px;
      height: 20px;
    }
  }

  section.news-section ion-list .news-info {
    p {

      font-size: 14px;
      font-weight: bold;
    }
    span {
      font-size: 8px;
    }
    ion-col.hour {
      padding: 5px 3px 0 !important;
    }
  }
  .Important-articles-section .article-date {
    padding: 6px 6px;
    font-size: 10px;
  }
}

/* reading-tools */
ion-item.reading-tools-area {
  margin-left: -16px;
}

ul.reading-tools {
  margin: 0px;
  margin-left: 16px;
  list-style: none;
  width: 100%;
  padding-right: 16px;
  --inner-padding-end: 0;

  li {
    margin: 0 5px;
    display: inline-block;
    line-height: 20px;
    padding: 0 10px;

    a {
      text-decoration: none;
    }

    &.maximize {
      font-size: 20px;
      font-weight: bold;

      &:before {
        contain: "";
        width: 5px;
        height: 5px;
        background: #000;
      }
    }

    &.share {
      font-weight: bold;
      float: left;
      a {
        padding: 15px;
      }
      .share-icon {
        vertical-align: middle;
      }
    }
  }
}

/* reading-tools */

.news-dates {
  background: var(--ion-color-primary);
  color: #fff;
  padding: 1px;

  ion-icon {
    vertical-align: middle;
    margin: 0 6px;
  }
}

ion-slide {
  ion-img {
    margin: 0 3px -5px;
    width: 100%;
    object-fit: cover;
    height: 130px;
  }
}
