<app-header>
</app-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card class="ads--card">
        <dfp-ad adUnit="/21765378867/ShorouknewsApp_LeaderBoard2">
            <dfp-size [width]="320" [height]="50"></dfp-size>
            <dfp-responsive [viewport]="[768,0]" [adSizes]="[[728,90]]"></dfp-responsive>
        </dfp-ad>
    </ion-card>
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li>
            <a routerLink="/home">الرئيسية</a>
            <span class="arrow-back">&#62;</span>
        </li>
        <li class="active">{{sectionName}}</li>
    </ul>
    <!-- end Breadcrumb -->
    <div class="subheader">
        <div class="subheader-title">
            <img class="speaker-icon" src="/assets/images/Icons/speaker.png" alt=""> {{sectionName}}
        </div>
    </div>
    <!-- END news-dates -->
    <section class="news-section">
        <ion-list no-padding>
            <ion-item no-lines no-padding *ngFor="let oneNews of news" routerLink="/news-details/{{oneNews.CDate}}/{{oneNews.ID}}" tappable>
                <ion-thumbnail item-start margin-right>
                    <img src="{{oneNews.PhotoUrl}}">
                </ion-thumbnail>
                <div class="news-info">
                    <p [innerHtml]="oneNews.Title | decodeHtml"></p>
                    <div class="news-date">
                        <div align-items-right>
                            <div class="day">
                                <ion-icon name="calendar"></ion-icon>
                                <span>{{oneNews.CreationDate_FormattedDate}} - {{oneNews.CreationDate_FormattedTime}}</span>
                            </div>
                            <!-- <ion-col size="4" class="hour">
                                <ion-icon name="time"></ion-icon>
                                <span>{{oneNews.CreationDate_FormattedTime}}</span>
                            </ion-col> -->
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </section>
    <!-- Skeleton screen *ngIf="!news" -->
    <!-- <section>
        <ion-list no-padding>
            <ion-item no-lines no-padding [hidden]="news.length>0">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <div >
                    <p>
                        <ion-skeleton-text animated style="width: 250px"></ion-skeleton-text>
                    </p>
                    <div>
                        <div>
                            <div>
                                <span>
                                    <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </section> -->
    <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="تحميل المزيد من الأخبار...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>